@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@import "./styles.css";
@import "./vars.scss";
@import "./breakpoints";

body {
    font-family: 'Inter', sans-serif;
    background-color: $color1;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: $color2;
    color: $color3;
    border-radius: 50px 50px 0 0;
    padding: 26px;
    height: 75vh;

    @include media(desktop-s){
        padding: 38px 5%;
    }
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

